In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier,RandomForestRegressor,AdaBoostRegressor, AdaBoostClassifier, BaggingRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import f1_score,roc_curve,confusion_matrix
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.metrics import mean_absolute_error
from pandas import DataFrame
from sklearn.linear_model import lars_path, LassoCV, RidgeCV

In [2]:
train = pd.read_csv(r'C:\Users\Rumman Chughtai\Downloads\dengue_features_train.csv')
test = pd.read_csv(r'C:\Users\Rumman Chughtai\Downloads\dengue_features_test.csv')
labels = pd.read_csv(r'C:\Users\Rumman Chughtai\Downloads\dengue_labels_train.csv')
testsa = pd.read_csv(r'C:\Users\Rumman Chughtai\Downloads\dengue_features_test.csv')

# Test DataSet

In [3]:
test.head(5)

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,2008,18,2008-04-29,-0.0189,-0.018900,0.102729,0.091200,78.60,298.492857,...,25.37,78.781429,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2
1,sj,2008,19,2008-05-06,-0.0180,-0.012400,0.082043,0.072314,12.56,298.475714,...,21.83,78.230000,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3
2,sj,2008,20,2008-05-13,-0.0015,NaN,0.151083,0.091529,3.66,299.455714,...,4.12,78.270000,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0
3,sj,2008,21,2008-05-20,NaN,-0.019867,0.124329,0.125686,0.00,299.690000,...,2.20,73.015714,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3
4,sj,2008,22,2008-05-27,0.0568,0.039833,0.062267,0.075914,0.76,299.780000,...,4.36,74.084286,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1

In [4]:
test['total_cases'] = labels['total_cases']
train['total_cases'] = labels['total_cases']

In [5]:
test.columns

Index(['city', 'year', 'weekofyear', 'week_start_date', 'ndvi_ne', 'ndvi_nw',
       'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm', 'total_cases'],
      dtype='object')

In [6]:
test = test.fillna(test.mean())
train = train.fillna(train.mean())

In [7]:
test.isna().sum()

city                                     0
year                                     0
weekofyear                               0
week_start_date                          0
ndvi_ne                                  0
ndvi_nw                                  0
ndvi_se                                  0
ndvi_sw                                  0
precipitation_amt_mm                     0
reanalysis_air_temp_k                    0
reanalysis_avg_temp_k                    0
reanalysis_dew_point_temp_k              0
reanalysis_max_air_temp_k                0
reanalysis_min_air_temp_k                0
reanalysis_precip_amt_kg_per_m2          0
reanalysis_relative_humidity_percent     0
reanalysis_sat_precip_amt_mm             0
reanalysis_specific_humidity_g_per_kg    0
reanalysis_tdtr_k                        0
station_avg_temp_c                       0
station_diur_temp_rng_c                  0
station_max_temp_c                       0
station_min_temp_c                       0
station_precip_mm                        0
total_cases                              0
dtype: int64

In [8]:
test = test.drop('city',1)
test = test.drop('year',1)
test = test.drop('weekofyear',1)
test = test.drop('week_start_date',1)
train = train.drop('city',1)
train = train.drop('year',1)
train = train.drop('weekofyear',1)
train = train.drop('week_start_date',1)

In [9]:
test.columns

Index(['ndvi_ne', 'ndvi_nw', 'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm',
       'reanalysis_air_temp_k', 'reanalysis_avg_temp_k',
       'reanalysis_dew_point_temp_k', 'reanalysis_max_air_temp_k',
       'reanalysis_min_air_temp_k', 'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm', 'total_cases'],
      dtype='object')

In [13]:
test_x = test.iloc[:,0:20]
test_y = test.iloc[:,20]
train_x = train.iloc[:,0:20]
train_y = train.iloc[:,20]

In [14]:
cols_to_transform  = list(test_x.select_dtypes(include=['object']).columns) 
cols_to_transform

[]

In [46]:
features_dummy_test = pd.get_dummies(test_x,columns = cols_to_transform)
features_dummy_test = features_dummy_test.astype(int)

In [53]:
models  = {
            'rf': [RandomForestRegressor(n_jobs=-1), {'n_estimators' : [31,32,33,34,35], 'max_depth' : [18,19,20,21], 'random_state': [100],'n_jobs': [-1]}],
          }

In [55]:
for i, j in models.items():
    gs = GridSearchCV(j[0], j[1], cv=5)
    gs.fit(train_x, train_y)
    print(gs.score(train_x,train_y))
    y_pred = gs.predict(test_x)
    print("Model -> ",j[0])
    print("Mean Absolute --> ",mean_absolute_error(test['total_cases'], y_pred))
    data_export = {
        'city': testsa['city'],
        'year': testsa['year'],
        'weekofyear': testsa['weekofyear'],
        'total_cases': y_pred.astype(np.int64)
    }
    df_export = DataFrame(data_export, columns= ['city', 'year','weekofyear','total_cases'])
    export_csv = df_export.to_csv (r'C:\Users\Rumman Chughtai\Downloads\export_dataframe.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

C:\Users\Rumman Chughtai\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

0.8975327731872289
Model ->  RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=-1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)
Mean Absolute -->  33.8860820088648